@import "tailwindcss";

@theme {
  --font-popins: 'Poppins';
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-popins;
  }

  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/Background-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100dvh;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}