@import "tailwindcss";

@theme {
  --font-popins: 'Poppins';
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-popins;
  }

  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
   
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}